.fullAdd {
    background: mediumpurple;
    text-align: center;
}

.taskTextField {
    height: 30px;
    width: 300px;
    margin: 20px;
    font-size: 20px;
    font-family: "Times New Roman", serif;
}

.plus {
    font-size: 20px;
    font-family: "Times New Roman", serif;
}