#task {
    display: flex;
    flex-direction: row;
    margin: 5px;
    background-color: powderblue;
    align-items: center;
}

#beginGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.check {
    order: 1;
    font-size: 30px;
    margin: 5px;
}

.writing {
    order: 2;
    font-size: 20px;
    font-family: "Times New Roman", serif;
    background-color: aliceblue;
    margin: 7px;
    /*width: 400px;*/
}

#endGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
}


#priority {
    order: 3;
}

.filled {
    background-color: darkgrey;
    height: 15px;
}

.empty {
    background-color: white;
    height: 15px;
}


.deleteButton {
    order: 4;
    font-family: "Times New Roman", serif;
    font-size: 13px;
    margin: 5px;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .priority {
        display: flex;
        flex-direction: column;
    }
    .writing {
        width: 50%;
    }
}