.completed{
    visibility: hidden;
}

.incomplete{
    background-color: aliceblue;
}

.props.completed {
    /*background: pink;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.check {
    order: 1;
}

p {
    order: 2;
    font-size: 30px;
    font-family: "Times New Roman", serif;
}